$Orange:#FC6536;
$DarkBlue:#0F141E;
$White:#FFFFFF;
$LightOrange:#FFEBD9;
$MidnightGrey:#6F7785;
$MiddleGrey:#626262;
$MediumGrey:#F1F1F1;
$LightGrey:#F8F8F8;
.mobile{
    display: none;
}
.inverted{
    h4{
        color:$White;
        
    }
    h2{
        color:$White;
    }
    h5{
        color:$White;
    }
    .psmall{
        color:$MediumGrey;
    }
    .pspread{
        color:$MediumGrey;
    }
    .pbold{
        color: $White;
    }
    .plarge{
        color:$MediumGrey;
    }
    .paralax{
            
        background-color: $DarkBlue;
    }
    .slider-dark{
        h2{
            color:$White;
        }
        .pspread{
            color:$MediumGrey;
        }
    }
}
.wrapper{
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
    position: relative;
}
.imgnaslov{
    z-index: -2;
    transform: translateZ(-3px) scale(4);
    position: sticky;
    transform-style: flat;
    height: 100vh;
    width: 100%;
    top:0;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .tint{
        position: absolute;
        top:0;
        z-index: 10;
        left: 0;
        width: 100%;
        height: 100vh;
    }
}
.imgnaslov_content{
    transform-style: preserve-3d;
    z-index: -1;
    position: absolute;
    top: 35svh;
    width: 100%;
    transform: translateZ(-2px) scale(3) ;
    h1{
        color:$White;
        grid-column: span 7;
    }
    img{
        grid-column: span 6;
        margin-top: -16px;
    }
    
}
.choose{
    position: absolute;
    width: 100%;
    
    bottom: 0;
    transform: translateZ(-2px) scale(3) translateY(22svh);
    
}
.choose-grid{
    grid-column: span 12;
    height: 160px;
    border-radius: 16px;
    background: rgba(15, 20, 30, 0.3);
/* Background Blur */

backdrop-filter: blur(50px);
.pbold{
    color:$White;
    grid-column: span 12;
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
}
}
.input-button{
    display: flex;
    button{
        background-color: $White;
        color:$DarkBlue;
        padding-left: 60px;
        padding-right: 60px;
        margin-right: 24px;
    }
}
.two-input{
    margin-left: 40px;
    margin-right: 32px;
    display: flex;
    background-color: transparent;
    border-radius: 4px;
    width: 75%;
    div:first-of-type{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    div:last-of-type{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    img{
        margin-left: 16px;
    }
}
.two-input-box{
    display:flex;
    width: 33%;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
    justify-content: space-between;
    border:1px solid white;
    label{
        color:$White;
    }
    input::placeholder{
        color:$White;
        opacity: 1;
    }
    input{
        background-color: transparent;
        border: 0px;
        padding:0;
        color:$White;
        margin-left: 8px;
    }
    .arrow::before,
.arrow::after {
  content: "";
  display: block;
  width: 9px;
  border-radius: 50px;
  height: 1.5px;
  background: $White;
  transition: 0.3s ease-in-out;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  margin-top: -2px;
  margin-left: 6px;
  transform: rotate(-45deg);
}
    div{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 70%;
        
    }
    
    span{
        margin-right: 16px;
    }
}




.paralax{
    background-color: $White;
    position: relative;
    transition: 0.5s;
}
.izleti-slider{
    position: relative;
    padding-top: 160px;
    
    h2{
        grid-column: span 7;
    }
    div{
        position: relative;
    }
}
.arrow-slider{
    grid-column:span 5;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border: 1px $Orange solid;
        border-radius: 100%;
    }
    div:hover{
        background-color: $Orange;
        img{
            filter:brightness(100000%)
        }
    }

}
.arrow-after{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.slider{
    margin-bottom: 728px  + 240px;
    margin-top: 64px;
    width: 100%;
    .slider-holder{
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        gap: 40px;
        position: absolute;
        left: 0;
        width: calc(50vw + 640px) ;
        scroll-behavior: smooth;
        overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: calc(50vw - 640px);
}

.slider-holder::-webkit-scrollbar {
    width: 0 !important;
    }
}

    
    

.slider-element{
    display: flex;
    flex-direction: column;
    min-width: 400px ;
    .eyebrow{
        margin-top: 32px;
    }
    h4{
        margin-bottom: 16px;
        width: 64%;
    }

}

.slider-element-picture{
    position: relative;
    width: 100%;
    height: 568px;
    img{
        border-radius: 16px;
    }
    h5{
        color:$White;
        position: absolute;
    left:32px;
    top:32px;
    border-radius: 58px;
    padding: 8px 16px;
    background-color: $Orange;
    z-index: 2;
    }
}

.eyebrow{
    margin-bottom: 8px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.24em;
color: $Orange;
}
.description{
    display: flex;
    .plarge{
        padding-top: 0px;
        color: $MiddleGrey;
    }
    img{
        height: 24px;
        margin-right: 8px;
    }
}
.putovanje{
    position: relative;
    h2{
        grid-column: span 12;
        margin-bottom: 40px;
    }
    div{
        z-index: 2;
    }
    .dotted-line{
        z-index: 1;
    }
}
.dotted-line{
    position: absolute;
    width: 100%;
    top:200px;
    img{
        width: 100%;
    }
}
.putovanje-div{
    grid-column: span 4;
    .psmall{
        margin-top: 16px;
        width: 90%;
    }
    img{
        width: 208px ;
        height: auto;
        margin-bottom: 32px;
    }
}

.slider-dark{
    padding-top: 240px;
    padding-bottom: 240px;
    margin-bottom: 240px;
    position: relative;
    .arrow-slider{
        grid-column: span 6;
        margin-top: 50px;
    }
    div{
        position: relative;
    }
    h2{
        grid-column: span 7;
        color:$DarkBlue;
        z-index: 2;
    }
    .pspread{
        grid-column: span 5;
        margin-top: 8px;
        color:$MiddleGrey;
    }
    .first{
        min-width: 840px;
    }
    .inner-title{
        position: absolute;
        left: 56px;
        bottom: 48px;
        font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.03em;
color:$White;
z-index: 2;
    }
    .slider{
        margin-bottom: 600px;
        margin-top: 80px;
    }
    .slider-element-picture{
        height: 600px;
    }
    
}
.signature{
    grid-column: 1/span 6;
    margin-top: -30px;
    z-index: 2;
}
.arwelmd{
    picture{

        overflow: hidden;
        border-radius: 16px;
        img{
            transition: 1s;
            transform: scale(1);
        }
    }
}
.arwelmd:hover{
    
        img{
            
            transform: scale(1.1);
        }
    
}

    .individualno-img-center{
        position: relative;
        width: 100%;
    }
.individualno-img{
    grid-column: span 7;
    display: flex;
    align-items: center;
}
.individualno-img-holder{
    padding-top: 93.15%;
}
.circle{
    position: absolute;
    left:-18px;
    top:-18px;
    width: 91.17%;
    height: 98.52%;
    background-color: #FFEBD9;;
    border-radius: 100% ;
}
.individualno-text{
    grid-column: span 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    .pbold{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    button{
        margin-top: 48px;
    }
}
.individualno-text-element{
    display: flex;
    align-items: center;
    margin-top: 24px;
    div:first-of-type{
        background-color: $MediumGrey;
        border-radius: 16px;
        img{
            padding: 16px;
            height: 32px;
        }
        margin-right: 32px;
        
    }
}

.tradicija{
    margin-top: 240px;
}
.tradicija-img-center{
    position: relative;
    width: 100%;

}
.tradicija-img{
    grid-column: 8/13;
display: flex;
align-items: center;
}
.tradicija-img-holder{
    padding-top: 143.92%;
    picture{
        img{
            border-radius: 600px;
            object-position: 65%;
        }
    }
    
}
.certified{
    position: absolute;
    top:26px;
    right: 23px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #FC6536;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    img{
        height:48px;
        
    }
}
.passport{
    position: absolute;
    left:-100px;
    bottom: -48px;
    width: 73.52%;
    padding-top: 40%;
}

.underline{
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}
.underline::before{
    content: "";
  position: absolute;
  height: 16px;
  z-index: -1;
  background: $Orange;
  width: 100%;
  margin-top: -17px;
  top: 100%;
}

.tradicija-text{
    grid-column: 2/span 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    position: relative;
    z-index: 1;
    .pspread{
        margin-top: 24px;
        
    }
    button{
        margin-top: 24px;
    }

}


.avanture{
    margin-top: 240px;
    h2{
        grid-column: span 7;
        z-index: 2;
    }
    .pspread{
        grid-column: span 5;
        margin-top: 8px;
        color:$MiddleGrey;
    }
}
.avanture-img{
    grid-column: span 12;
    position: relative;
    margin-top: 64px;
}
.avanture-img-holder{
    padding-top: 51.33%;
    img{
        border-radius: 16px;
    }
}
.adventure-img-content{
    z-index: 3;
    h3{
        color: $White;
    }
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button{
        background-color: transparent;
        border: 1px solid $White;
        margin-top: 24px;
    }
}

.acordation{
    z-index: 2;
    margin-top: 240px;
    div{
        row-gap: 104px;
        div{
            grid-column: 3/span 8;
        }
    }
    
    .plarge{
        margin-top: 8px;
        color: $MiddleGrey;
    }
    button{
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
    }
}
.pravne_informacije{
    .plarge{
        margin-top: 16px !important;
    }
}
.acordation-grid{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    grid-gap:16px !important;

    
}

.faq{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: $LightGrey;
    border-radius: 16px;
   
    
}
.faq-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .pbold{
        padding-right: 10px;
    }
}
.faq-content{
    max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  color:$MiddleGrey;
}

.arrow::before,
.arrow::after {
    
  content: '';
  display: block;
  width: 16px;
  border-radius: 50px;
  height: 2px;
  background: $DarkBlue;
  transition: 0.3s ease-in-out;
}

.arrow::before {
  transform: rotate(45deg);
  
  
}

.arrow::after {
    margin-top: -2px;
    margin-left: 10px;
  transform: rotate(-45deg);
}

.active {
    .arrow::after{
        transform: rotate(45deg);
    }
    .arrow::before{
        transform: rotate(-45deg);
    }
    .faq-content {
    max-height: 500px;
    margin-top: 16px;
  }
}

.newsletter{
    margin-top: 160px;
    position: relative;
}

.full-img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 976px;
    img{
        height: 100%;
width: 100%;
-o-object-fit: cover;
object-fit: cover;
    }
  }
  footer{
    margin-top: 0;
  }
  .newsletter-text{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    button{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 180px;
        padding: 0;
    }
    img{
        grid-column: 4/span 6;
        height: 88px;
        margin-top: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    h2{
        grid-column: 4/span 6;
        margin-top: 24px;
    }
    .plarge{
        grid-column: 4/span 6;
        margin-top: 16px;
    }
  }
  .prituzba-box-input-1{
    grid-gap: 24px;
    width: calc(100% - 172px);
    text-align: left;
    img{
        height: 24px;
        filter: brightness(20%);
        margin-top: 0px !important;
        margin-left: 8px;
        margin-right: 8px;
    }
    div{
        padding: 8px;
            background-color: $White;
            border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: start;
        div{
            padding: 0px;
            flex-direction: column;
            
        }
    
    }
    
    input{
        height: 24px;
        width: 100%;
        z-index: 1;
        padding: 0px;
        border: 0px;    
    }
    label{
        padding: 0;
    }
}
 input:focus{
    outline: none;
}
input{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color:$DarkBlue
}
input::placeholder{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: $DarkBlue;
opacity: 0.2;
}
label{
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    padding-left: 8px;
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
color: $DarkBlue;
opacity: 0.8;
}
.prituzba-button{
    margin-top: 48px;
    display: flex;
    grid-column: 4/span 6;
}
.checkbox{
    display: flex;
    align-items: center;
    grid-column: 4/span 6;
    margin-top: 16px;
}
input[type='checkbox'] {
    width: 24px;
    height: 24px;
    margin-right: 8px;
 }
 .upit{
    display: none;
    
}

 @media only screen and (max-width: 1450px) {

    .slider{
       
        .slider-holder{
            width: calc(100vw - 70px) ;
            padding-left: 70px;
            
    }
 }}

 @media only screen and (max-width: 950px) {
    .upit{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        border-radius: 0px;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;

        right: 0;
        top: auto;
        max-height: 0px;
        overflow: hidden;
        z-index: 12;
        transition: 0.5s;
        button{
            margin-top: 40px;
            margin-bottom: 32px;
            width: calc(100% - 48px);
            margin-left: 24px;
            background-color: $White;
        color:$DarkBlue;
        }
    }
    .up-upit {
        max-height: 2000px;
        transition: 1s ease-in;
        background: rgba(15, 20, 30, 0.4);
    backdrop-filter: blur(50px);
    }
    
.input{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    background-color: transparent;
    border: 1px solid $White;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    position: relative;
    img{
        height: 24px;
        margin-left: 16px;
    }
    div{
        flex-direction: column;
    }
    label{
        margin-left: 8px;
        padding: 0px;
    }
    input{
        margin-left: 8px;
        height: 24px;
        padding: 0;
    }
    label{
        color:$White;
    }
    input::placeholder{
        color:$White;
        opacity: 1;
    }
    input{
        background-color: transparent;
        border: 0px;
        padding:0;
        color:$White;
        margin-left: 8px;
    }
    .arrow{
        position: absolute;
        right: 16px;
        top:25px;
    }
    .arrow::before{
        width: 10px;
        background-color: $White;
        height: 1.5px;

    }
    .arrow::after{
        height: 1.5px;
        width: 10px;
        background-color: $White;
        margin-left: 6px;
        
    }
}
    .arrow-upit::before,
    .arrow-upit::after {
      content: '';
      display: block;
      width: 12px;
      border-radius: 50px;
      height: 2px;
      background: $White;
      transition: 0.3s ease-in-out;
    }
    .arrow-upit::before {
        transform: rotate(45deg);
    }
    .arrow-upit::after {
        margin-top: -2px;
        margin-left: 8px;
      transform: rotate(-45deg);
    }
    .mobile-upit{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 16px;
        .pbold{
            color: $White;
            margin-left: 24px;
        }
    }
    .upit-up{
        cursor: pointer;
        margin-right: 24px;
        margin-bottom: -12px;
    }

.upit-background{
    height:0px;
    transition: opacity 0.5s;
    background-color: $DarkBlue;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
/*
.up-upitb{
    height: 100vh;
    opacity: 0.8;
}
*/
    .two-input{
        width: 60%;
        
        .two-input-box:first-of-type{
            display: none;
        }
        .two-input-box:last-of-type{
            display: none;
        }
        
        
    }
    .two-input-box{
        width: 100%;
        border-radius: 8px;
    }
    .slider-dark{
        
        h2{
            grid-column: span 12;
        }
        .pspread{
            grid-column: span 12;
            margin-top: 100px;
        }
        .signature{
            
                margin-top: -230px;
            
        }
    }
    .individualno-img{
        grid-column: 2/span 10;
    }
    .individualno-text{
        grid-column: 2/span 10;
        margin-top: 32px;
        
    }
    .tradicija-img{
        grid-column: 2/span 10;
        margin-top: 64px;
        order:1;
    }
    .tradicija-text{grid-column: 2/span 10; order: 2;}
    .avanture{
        h2{
            grid-column: span 12;
        }
        .pspread{
            grid-column: span 12;
            margin-top: 32px;
        }
        
    }
    

 } 
 @media only screen and (max-width: 650px) {
    .two-input{
        width: 90%;
        
        
        
        
    }
    .underline::before{
        height: 10px;
        margin-top: -8px;
    }
    .two-input-box{
        width: 100%;
        border-radius: 8px;
    }
    .choose{
        button{
            display: none;
        }
    }
    .putovanje-div{
        grid-column: span 12;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .slider-dark{
        padding-top: 104px;
        padding-bottom: 104px;
        margin-top: 104px;
        margin-bottom: 104px;
        .signature{
            height: 80px;
            margin-top: -220px;
        }
    }
    .individualno-img{
        grid-column: span 12;
    }
    .individualno-text{
        grid-column: span 12;
    }
    .tradicija-img{
        grid-column: span 12;
        
       
    }
    .tradicija-text{grid-column: span 12; margin-top: 64px;}
    .avanture-img-holder{
        padding-top: 90%;
    }
    .acordation div div {
        grid-column: span 12;
      }
      .newsletter-text{
        button{
            width: 120px;
        }
        img{
            grid-column: span 12;
        }
        h2{
            grid-column: span 12;
            
        }
        .plarge{
            grid-column: span 12;
            
      }}
      .prituzba-button{
        grid-column: span 12;
      }
      .checkbox{
        grid-column: span 12;
      }
 }
 @media only screen and (max-width: 450px) {
    .imgnaslov_content{
        img{
            height: 80px;
        }
    }
    .two-input{
        margin: 16px;
    }
    .choose{
        
        .pbold{
            display: none;
        }
        img{
            margin-right: 16px;
        }
        span{
            display: none;
        }
    }
    .choose-grid{
        height: auto;
    }
    
    .two-input-box{
        justify-content: start;
        
    }
    .arrow-slider{
        display: none;
    }
    .izleti-slider{
        padding-top: 40px;
    }
    .slider{
        margin-top: 40px;
        margin-bottom: 676px;
        .slider-holder{
            gap:24px;
        }
    }
    .slider-element{
        min-width: 274px;
        h4{
            width: 75%;
            margin-bottom: 8px;
        }
        .eyebrow{
            margin-top: 24px;
        }
    }
    .slider-element-picture{
        width: 274px;
        height: 444px;
        h5{
            left:24px;
            top:24px;
        }
    }
    .putovanje{
        h2{
            margin-bottom: 0;
        }
        
    }
    .putovanje-div{
        margin-bottom: 56px;
        img{
            margin-bottom: 16px;
        }
        text-align: center;
    }
    .slider-dark{
        margin-top: 48px;
        padding-top: 80px;
        padding-bottom: 80px;
        .signature{
            margin-top: -280px;
        }
        .pspread{
            margin-top: 84px;
        }
        .first{
            min-width: 256px;
        }
        .slider-element-picture{
            height: 400px;
            width: 256px;
        }
        .slider-holder{
            gap:24px;
        }
        .slider{
            margin-top: 56px;
            margin-bottom: 400px;
        }

    }
    .slider{
       
        .slider-holder{
            
            width: calc(100vw - 24px) ;
            padding-left: 24px;
            
    }
 }
    .circle{
        left:0px;
        top:0px;
    }
    .individualno-text{
        height: fit-content;
        margin-top: 40px;;
        .pbold{
            margin-bottom: 8px;
        }
        button{
            margin-top: 40px;
        }
    }
    .tradicija{
        margin-top: 104px;
    }
    .tradicija-text{
        height: fit-content;
        margin-top: 80px;
        .pspread{
            margin-top: 8px;
        }
        
    }
    .tradicija-img{
        margin-top: 0px;
    }
    .certified{
        right: 0;
        top:0;
    }
    .passport{
        left:22px;

    }
    .avanture{
        margin-top: 104px;
        .pspread{
            margin-top: 16px;
        }
    }
    .avanture-img{
        margin-top: 40px;

    }
    .avanture-img-holder{
        padding-top: 183.48%;
    }
    .acordation{
        margin-top: 104px;
    }
    .acordation-grid{
        margin-top: 36px;
    }
    .full-img{
        height: 592px;
    }
    .newsletter-text{
        img{
            margin-top: 64px;
        }
    }
    .prituzba-button{
        margin-top: 56px;
        button{
            padding:  20px  23.5px;
        }
    }
    .prituzba-box-input-1 {
        grid-gap: 24px;
        width: calc(100% - 120px);
        text-align: left;
      }
      .dotted-line{
        display: none;
      }
 }