.full-img {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 976px;
}
.full-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.naslov {
  z-index: 2;
  margin-top: 264px;
}
.naslov div div {
  text-align: center;
  grid-column: 3/span 8;
}

.underline {
  border-bottom: 16px solid #FC6536;
  display: inline-block;
  line-height: 0.6;
  text-decoration: none;
}

.text {
  z-index: 2;
  margin-top: 256px;
}
.text div {
  row-gap: 72px;
}
.text div div {
  grid-column: 3/span 8;
}
.text div div .pspread {
  color: #626262;
}
.text div div h3, .text div div h6 {
  margin-bottom: 16px;
}

.prituzba {
  margin-top: 96px;
}

.prituzba-box {
  background-color: #F8F8F8;
  grid-column: 3/span 8;
  padding: 48px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  row-gap: 24px;
}
.prituzba-box div {
  display: flex;
}
.prituzba-box .psmall {
  color: #626262;
  margin-left: 8px;
}

.prituzba-box-input-1 {
  grid-gap: 24px;
}
.prituzba-box-input-1 div {
  width: calc(50% - 12px);
  flex-direction: column;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.prituzba-box-input-1 input {
  height: 24px;
  width: 100%;
  z-index: 1;
  padding: 0px;
  padding-left: 8px;
  border: 0px;
}

textarea:focus, input:focus {
  outline: none;
}

input, textarea {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
  opacity: 0.2;
}

input::placeholder, textarea::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
  opacity: 0.2;
}

label {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 2;
  padding-left: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #0F141E;
  opacity: 0.8;
}

.prituzba-box-input-2 {
  padding-left: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.prituzba-box-input-2 label {
  padding: 0;
}

textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
  border: 0px;
  padding: 0;
}

.checkbox {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}
.checkbox img {
  margin: auto;
  width: 16px;
  height: 16px;
  display: none;
  cursor: pointer;
}

.active img {
  display: block;
}

.button {
  cursor: pointer;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: #FC6536;
  font-family: "Manrope";
  border-radius: 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 950px) {
  .naslov div div {
    grid-column: 2/span 10;
  }
  .text div div {
    grid-column: 2/span 10;
  }
  .prituzba-box {
    grid-column: 2/span 10;
  }
  .prituzba-box-input-1 {
    flex-direction: column;
  }
  .prituzba-box-input-1 div {
    width: calc(100% - 16px);
  }
}
@media only screen and (max-width: 650px) {
  .naslov {
    margin-top: 232px;
  }
  .naslov div div {
    grid-column: span 12;
  }
  .underline {
    line-height: 0.94;
    border-bottom: 8px solid #FC6536;
  }
  .text {
    margin-top: 176px;
  }
  .text div {
    row-gap: 32px;
  }
  .text div div {
    grid-column: span 12;
  }
  .prituzba {
    margin-top: 64px;
  }
  .prituzba-box {
    grid-column: span 12;
    padding: 24px;
  }
  footer {
    margin-top: 104px;
  }
}/*# sourceMappingURL=faq.css.map */